* {
  font-family: sans-serif;
}
h1 {
  font-size:24pt;
}
h2 {
  font-size:18pt;
}
h3 {
  font-size:16pt;
}
h2 {
  color: navy;
}
.centered {
  text-align: center;
}
.right {
  text-align: right;
}
a {
  color: red;
}
a:hover {
  color: teal;
}
ol {
  list-style-type: lower-roman;
}
table {
  width: 100%;
}
th {
  font-variant: small-caps;
}
table {
  padding: 3px;
}
td {
  text-align: left;
}
tr:last-child td{
  text-align: center;
}
tr:nth-child(even) {
  background-color: rgb(80%, 80%, 90%);
}
tr:hover {
  background-color: #1C780C;
}
