* {
  box-sizing: border-box;  /* les tailles sont celles de la boîte ! */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  padding: 5px;
}
.col-1 {width: 100%;}
.col-2 {width: 100%;}
.col-3 {width: 100%;}
.col-4 {width: 100%;}
.col-5 {width: 100%;}
.col-6 {width: 100%;}

.picture {max-width: 100%; }
.title {background-color: lightgray; }
.topic {margin: 15px 1px 15px 1px; }
.flag {max-width: 50%; }

.heading1 { font-size: 8vw; }
.heading2 { font-size: 6vw; }
.heading3 { font-size: 5vw; }

@media screen and (min-width: 480px) {
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 16.66%;}
  .col-2 {width: 33.33%;}
  .col-3 {width: 50%;}
  .col-4 {width: 66.66%;}
  .col-5 {width: 83.33%;}
  .col-6 {width: 100%;}
  
  .intro {font-weight: bold; }
  .topic {margin: 30px 5px 30px 5px; }
  .flag {max-width: 100%; }
  
  .heading1 { font-size: 6vw; }
  .heading2 { font-size: 4vw; }
  .heading3 { font-size: 3vw; }
}
