* {box-sizing: border-box;}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

.row:first-child {background-color: gray;}

img {width: 100%;}

h1 {
  font-size: 7vw;
  font-weight: normal;
}
h2 {
  font-size: 5vw;
  font-weight: normal;
}

.col-2 img {width: 50%;}

@media only screen and (min-width: 600px) {
  .col-1 {width: 16.66%;}
  .col-2 {width: 33.33%;}
  .col-3 {width: 50%;}
  .col-4 {width: 66.66%;}
  .col-5 {width: 83.33%;}
  .col-6 {width: 100%;}
  h1, h2 {font-weight: bold;}
  .col-2 img {width: 100%;}
}
